<div class="content">
    <div class="location">
        <div class="breadcrumb">
            <a href="#">Página Inicial</a> /
            <a href="#">Homem</a> /
            <span>Roupas e calçados</span>
        </div>
        <h1>Roupas e calçados masculinos <span id="product-count"></span></h1>
    </div>

    <div id="product-grid"/>
</div>