<div class="banner_home">
    <%= link_to catalog_path do %>
        <%= image_tag 'banner.jpg' %>

        <div class="banner-content">
            <div class="content">
                <h2>P.O.D.SYSTEM</h2>
                <p>A união de três tecnologias inovadoras em novas cores.</p>

                <span>COMPRAR</span>
            </div>
        </div>
    <% end %>
</div>